@model NotesMarketplace.Models.AddCountry

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="profile-form">
    <!-- Form Area -->
    <div id="add-detial-form" class="profile-form">
        <div class="container">
            <!-- Basic Profile Detail -->
            <div id="basic-profile-details" class="detail-content-box">
                @using (Html.BeginForm("Addcountry", "Admin", FormMethod.Post))
                {
                    <div class="row">
                        <div class="horizontal-heading-sm col-md-12 col-sm-12 col-xs-12">
                            <h3>Add Country</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Country Name *</label>
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Enter Country" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger error-message" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Country Code *</label>
                                @Html.TextBoxFor(x => x.CountryCode, new { @class = "form-control", @placeholder = "Enter Country Code", @value = "@Model.CountryCode" })
                                @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger error-message" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn-general btn-submit-form">submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



