@model NotesMarketplace.Models.UserProfileModel

<!-- User Profile -->
<div id="generic-container">

    <div id="component-box">

        <!-- Background image with some text -->
        <div class="general-bg-img">
            <h3 class="text-center">User Profile</h3>
        </div>

        <!-- Form Area -->
        <div id="user-profile-form" class="profile-wrapper">

            @using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="container">

                    <!-- Basic Profile Detail -->
                    <div id="basic-profile-details" class="info-components">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3>Basic Profile Details</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">First Name *</label>
                                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Enter Your First Name" })
                                    <small>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger error-message" })</small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Last Name *</label>
                                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Enter Your Last Name" })
                                    <small>@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger error-message" })</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email *</label>
                                    @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @placeholder = "Enter Your First Name", @readonly = "readonly" })
                                    <small>@Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger error-message" })</small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="dateOfBirth">Date Of Birth</label>
                                    @Html.TextBoxFor(x => x.DOB, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    @Html.DropDownList("Gender", null, htmlAttributes: new { @class = "form-control arrow-down-icon", name = "Gender" })
                                <small>@Html.ValidationMessageFor(x => x.Gender)</small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3">
                                            @Html.DropDownList("PhoneNumberCountryCode", null, htmlAttributes: new { @class = "form-control arrow-down-icon", name = "PhoneNumberCountryCode" })
                                            <small>@Html.ValidationMessageFor(model => model.PhoneNumberCountryCode, "", new { @class = "text-danger error-message   " })</small>
                                        </div>
                                        <div class="col-md-9 col-sm-9">
                                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Enter Your Phone Number" })
                                            <small>@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger error-message   " })</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group profile-picture-input last-row">
                                    <label>Profile Picture</label>
                                    @if (@ViewBag.ProfilePicture != null)
                                    {
                                        <a href="/User/DownloadPicture/@Model.ID"> Uploaded Picture </a>
                                    }
                                    @if (@TempData["Message"] != null)
                                    {
                                        <p class="text-danger">@TempData["Message"]</p>
                                    }
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="ProfilePicture" name="ProfilePicture" onchange="return ProfilePictureValidation()">
                                    <label class="custom-file-label" for="customFile">
                                        <div>
                                            <div class="upload-2"><img src="/Content/Front/images/User-Profile/upload.png" alt=""></div>
                                            <div>
                                                upload
                                                a image
                                            </div>
                                        </div>
                                    </label>
                                    <span id="ProfilePicture-error" class="text-danger"></span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Address Detail -->
                    <div id="address-details" class="info-components">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3>Address Details</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Address Line 1 *</label>
                                    @Html.TextBoxFor(x => x.AddressLine1, new { @class = "form-control", @placeholder = "Enter Your Address Line 1" })
                                    <small>@Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger ErrorMessage  err_field" })</small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Address Line 2</label>
                                    @Html.TextBoxFor(x => x.AddressLine2, new { @class = "form-control", @placeholder = "Enter Your Address Line 2" })
                                    <small>@Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger ErrorMessage   " })</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>City *</label>
                                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", @placeholder = "Enter Your City" })
                                    <small>@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger ErrorMessage   " })</small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>State *</label>
                                    @Html.TextBoxFor(x => x.State, new { @class = "form-control", @placeholder = "Enter Your State" })
                                    <small>@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger ErrorMessage   " })</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group last-row last-row-small">
                                    <label>ZipCode *</label>
                                    @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", @placeholder = "Enter Your ZipCode" })
                                    <small>@Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger ErrorMessage   " })</small>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group last-row">
                                    <label>Country *</label>
                                    @Html.DropDownList("Country", null, htmlAttributes: new { @class = "form-control arrow-down-icon", name = "Country" })
                                    <small>@Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger ErrorMessage   " })</small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- University and college information -->
                    <div id="un-clg-information" class="info-components">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3>University and College Information</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>University</label>
                                    @Html.TextBoxFor(x => x.University, new { @class = "form-control", @placeholder = "Enter your university" })
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>College</label>
                                    @Html.TextBoxFor(x => x.College, new { @class = "form-control", @placeholder = "Enter your college" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn-general btn-submit-form">submit</button>
                            </div>
                        </div>

                    </div>

                </div>

            }

            </div>
    </div>

</div>