@using PagedList;
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="manage-administrator">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                @if (TempData["success"] != null)
                {
                    <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@TempData["success"] !</strong> @TempData["message"]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            </div>
            <div class="horizontal-heading-sm col-md-12 col-sm-12 col-xs-12">
                <h3>Notes Under Review</h3>
            </div>
        </div>

        @using (Html.BeginForm("NotesUnderReview", "Admin", FormMethod.Get, new { id= "AllSeachNote"}))
        {
            <div class="row top-bar">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Seller</label>
                        <div class="row">
                            <div class="col-md-4 col-sm-3 col-xs-6">
                                @Html.DropDownList("SellerName", (SelectList)ViewBag.SellerName, "Select Seller", new { id = "SellerName", name = "SellerName", @class = "form-control arrow-down-icon", onchange = "NoteFunction();" })
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 scroll-center">
                    <div class="progress-note-btn margin-top">
                        <input type="text" name="SearchUnderReview" class="search-enter-progress" placeholder="Search" title="Type
                                        in a name" />
                        <a href=""><button type="submit">Search</button></a>
                    </div>
                </div>
            </div>
        }

        <div class="table-area">

            <div class="progress-table general-big-table" style="overflow-x: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">SR NO.</th>
                            <th scope="col">@Html.ActionLink("TITLE", "NotesUnderReview", new { SortOrderUnderReview = ViewBag.TitleSortParamPublish, SearchUnderReview = Request.QueryString["SearchUnderReview"] })</th>
                            <th scope="col">@Html.ActionLink("CATEGORY", "NotesUnderReview", new { SortOrderUnderReview = ViewBag.CategorySortParamPublish, SearchUnderReview = Request.QueryString["SearchUnderReview"] })</th>
                            <th scope="col">@Html.ActionLink("SELLER", "NotesUnderReview", new { SortOrderUnderReview = ViewBag.SellerSortParamPublish, SearchUnderReview = Request.QueryString["SearchUnderReview"] })</th>
                            <th scope="col">@Html.ActionLink("DATE ADDED", "NotesUnderReview", new { SortOrderUnderReview = ViewBag.DateSortParamPublish, SearchUnderReview = Request.QueryString["SearchUnderReview"] })</th>
                            <th scope="col">@Html.ActionLink("STATUS", "NotesUnderReview", new { SortOrderUnderReview = ViewBag.StatusSortParamPublish, SearchUnderReview = Request.QueryString["SearchUnderReview"] })</th>
                            <th scope="col" colspan="3" class="text-center">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            IPagedList<NotesMarketplace.Models.UnderReviewsNote> UnderReview = ViewBag.NotesUnderReview;
                        }

                        @{
                            var count = 0;
                            if (UnderReview.Count == 0)
                            {
                                <tr>
                                    <td colspan="9" class="text-center NoRecord">No Records Found</td>
                                </tr>
                            }
                        }
                        @foreach (var item in UnderReview)
                        {
                            <tr>
                                <td>@(count + ((UnderReview.PageNumber - 1) * UnderReview.PageSize) + 1)</td>
                                <td class="title-col"><a href="/Admin/NoteDetail/@item.NoteDetails.ID">@item.NoteDetails.Title</a></td>
                                <td>@item.Category.Name</td>
                                <td>@item.User.FirstName @item.User.LastName<a href="/AdminMember/MemberDetail/@item.User.ID" class="ml-3"><img src="/content/Admin/images/admin/eye.png"></a></td>
                                <td>@item.NoteDetails.ModifiedDate.Value.ToString("dd-MM-yyyy, HH:mm")</td>
                                <td>@item.Status.Value</td>
                                <td colspan="3" class="action-button">
                                    @using (Html.BeginForm("Approve/" + @item.NoteDetails.ID, "Admin", FormMethod.Get, new { }))
                                    {
                                        <button onclick="return confirm('Are You Sure for Approve !!')" type="submit" class="btn-approve">Approve</button>
                                    }
                                    <span role="button" class="btn-reject" data-toggle="modal" data-target="#Reject_@item.NoteDetails.ID">Reject</span>
                                    @using (Html.BeginForm("InReview/" + @item.NoteDetails.ID, "Admin", FormMethod.Get, new { }))
                                    {
                                        <button onclick="return confirm('Are You Sure for InReview !!')" type="submit" class="btn-inreview">InReview</button>
                                    }
                                    <div class="dropdown admin-notes-menu">
                                        <a role="button" class="dropbtn"><img src="/Content/Admin/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                                        <div class="dropdown-content">
                                            <a href="/Admin/DownloadAttechedFile/@item.NoteDetails.ID">Download Notes</a>
                                            <a href="/Admin/NoteDetail/@item.NoteDetails.ID">View More Details</a>
                                        </div>
                                    </div>
                                    <div class="review-popup-section">
                                        <!-- Modal -->
                                        <div class="modal fade" id="Reject_@item.NoteDetails.ID" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">@item.NoteDetails.Title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    @using (Html.BeginForm("RejectedNote/" + @item.NoteDetails.ID, "Admin", FormMethod.Get, new { }))
                                                    {
                                                        <div class="modal-body">
                                                            <div id="write-comment-form">
                                                                <div class="form-group">
                                                                    <div class="justify-content-start">
                                                                        <h6>
                                                                            <br>
                                                                            Remarks *
                                                                        </h6>
                                                                    </div>
                                                                    <textarea name="Remarks" class="form-control" rows="3" placeholder="Write Remarks" required></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-start">

                                                            <div class="add-note-btn action-button ml-auto">
                                                                <button type="submit" class="btn-reject">Submit</button>
                                                                <button data-dismiss="modal" class="btn-inreview close">Cancel</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            { count = count + 1; }
                        }
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="pagination-section">
                <div class="pagination-notes">
                    <div class="pagination-number">
                        @Html.PagedListPager(UnderReview, NotesUnderReviewspage => Url.Action("NotesUnderReview", new
                   {
                       NotesUnderReviewspage,
                       SearchUnderReview = Request.QueryString["SearchUnderReview"],
                       SortOrderUnderReview = Request.QueryString["SortOrderUnderReview"],
                       SellerName = Request.QueryString["SellerName"]

                   })
                            , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
                        )
                        
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

