@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "PublishedNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    IPagedList<NotesMarketplace.Models.PublishedNoteAdmin> PublishedNotes = ViewBag.NotesPublished;
}

<div class="manage-administrator">

    <div class="container">

        <div class="row">
            <div class="horizontal-heading-sm col-md-12 col-sm-12 col-xs-12">
                <h3>Published Notes</h3>
            </div>
        </div>
        @using (Html.BeginForm("PublishedNotes", "Admin", FormMethod.Get, new { id = "AllSeachNote" }))
        {
            <div class="row top-bar">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Seller</label>
                        <div class="row">
                            <div class="col-md-4 col-sm-3 col-xs-6">
                                @Html.DropDownList("SellerName", (SelectList)ViewBag.SellerName, "Select Seller", new { id = "SellerName", name = "SellerName", @class = "form-control arrow-down-icon", onchange = "NoteFunction();" })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 scroll-center">
                    <div class="progress-note-btn margin-top">
                        <input type="text" name="Search" class="search-enter-progress" placeholder="Search" title="Type
                                        in a name" />
                        <a href=""><button type="submit">Search</button></a>
                    </div>
                </div>
            </div>
        }

        <div class="table-area">

            <div class="progress-table general-big-table" style="overflow-x: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">sr no.</th>
                            <th scope="col">@Html.ActionLink("Note Title", "PublishedNotes", new { SortOrder = ViewBag.TitleSortParam, Search = Request.QueryString["Search"] })</th>
                            <th scope="col">@Html.ActionLink("Category", "PublishedNotes", new { SortOrder = ViewBag.CategorySortParam, Search = Request.QueryString["Search"] })</th>
                            <th scope="col">@Html.ActionLink("sell type", "PublishedNotes", new { SortOrder = ViewBag.SellTypeSortParam, Search = Request.QueryString["Search"] })</th>
                            <th scope="col">@Html.ActionLink("price", "PublishedNotes", new { SortOrder = ViewBag.PriceSortParam, Search = Request.QueryString["Search"] })</th>
                            <th scope="col">@Html.ActionLink("SELLER", "PublishedNotes", new { SortOrder = ViewBag.SellerSortParam, Search = Request.QueryString["Search"] })</th>
                            <th scope="col">@Html.ActionLink("Published Date", "PublishedNotes", new { SortOrder = ViewBag.DateSortParam, Search = Request.QueryString["Search"] })</th>
                            <th scope="col">@Html.ActionLink("APPROVED BY", "PublishedNotes", new { SortOrder = ViewBag.ApprovedBySortParam, Search = Request.QueryString["Search"] })</th>
                            <th scope="col" class="text-center">number of<br> downloads</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var count = 0;
                            if (PublishedNotes.Count == 0)
                            {
                                <tr>
                                    <td colspan="11" class="text-center NoRecord">No Records Found</td>
                                </tr>
                            }
                        }
                        @foreach (var item in PublishedNotes)
                        {
                            <tr>
                                <td>@(count + ((PublishedNotes.PageNumber - 1) * PublishedNotes.PageSize) + 1)</td>
                                <td class="title-col"><a href="/Admin/NoteDetail/@item.NoteDetails.ID">@item.NoteDetails.Title</a></td>
                                <td>@item.Category.Name</td>
                                <td>
                                    @if (@item.NoteDetails.IsPaid == true)
                                    {
                                        <p>Paid</p>
                                    }
                                    else
                                    {
                                        <p>Free</p>
                                    }
                                </td>
                                <td>
                                    @if (@item.NoteDetails.IsPaid == true)
                                    {
                                        <p> $ <span class="count"> @item.NoteDetails.SellingPrice</span></p>
                                    }
                                    else
                                    {
                                        <p>$0</p>
                                    }
                                </td>
                                <td>@item.User.FirstName @item.User.LastName<a href="/AdminMember/MemberDetail/@item.User.ID" class="ml-3"><img src="/Content/Admin/images/admin/eye.png"></a></td>
                                <td>@item.NoteDetails.PubilshedDate.Value.ToString("dd-MM-yyyy, HH:mm")</td>
                                <td>@item.Admin.FirstName @item.Admin.LastName</td>
                                <td class="title-col text-center"><a href="/Admin/DownloadedNotes?Search=@item.NoteDetails.Title">@item.NoteDetails.Downloads.Where(x => x.NoteID == @item.NoteDetails.ID && x.IsAttachementDownloaded == true && x.AttachmentPath != null).Count()</a></td>
                                <td>
                                    <div class="dropdown admin-notes-menu">
                                        <a role="button" class="dropbtn"><img src="/Content/Admin/images/Dashboard/three-dot.png" alt="delete-icon" /></a>
                                        <div class="dropdown-content">
                                            <a href="/Admin/DownloadAttechedFile/@item.NoteDetails.ID">Download Notes</a>
                                            <a href="/Admin/NoteDetail/@item.NoteDetails.ID">View More Details</a>
                                            <a role="button" data-toggle="modal" data-target="#NoteID_@item.NoteDetails.ID">Unpublish</a>
                                        </div>
                                    </div>
                                    <div id="reject-pop">
                                        <!-- Modal -->
                                        <div class="modal fade" id="NoteID_@item.NoteDetails.ID" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">@item.NoteDetails.Title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    @using (Html.BeginForm("UnPublishNote/" + @item.NoteDetails.ID, "Admin", FormMethod.Post, htmlAttributes: new { }))
                                                    {
                                                        <div class="modal-body">
                                                            <div id="write-comment-form">
                                                                <div class="form-group">
                                                                    <div class="justify-content-start">
                                                                        <h6>
                                                                            <br>
                                                                            Remarks *
                                                                        </h6>
                                                                    </div>
                                                                    <textarea name="Remarks" class="form-control" rows="3" placeholder="Write Remarks" required></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-start">
                                                            <div class="add-note-btn action-button ml-auto">
                                                                <button type="submit" class="btn-reject">UnPublish</button>
                                                                <button data-dismiss="modal" class="btn-inreview close">Cancle</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            { count = count + 1; }

                        }
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="pagination-section">
                <div class="pagination-notes">
                    <div class="pagination-number">
                        @Html.PagedListPager(PublishedNotes, page => Url.Action("PublishedNotes", new
                   {
                       page,
                       Search = Request.QueryString["Search"],
                       SortOrder = Request.QueryString["SortOrder"],
                       SellerName = Request.QueryString["SellerName"],
                   })
                   , new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, MaximumPageNumbersToDisplay = 5 }
                   )
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

