@model NotesMarketplace.Models.UserRegistration
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">

    <!-- Title -->
    <title>Notes Marketplace | Sign Up</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Front/images/favicon/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <section class="sign-up-page">

        <div class="login-general-box">

            <div class="login-wrapper">

                <div id="top-logo" class="text-center">
                    <img src="~/Content/Front/images/login/top-logo.png" class="img-responsive" alt="top-logo">
                </div>

                <div id="login-form-container" class="generic-form">
                    
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {}))
                    {
                        <h3 class="text-center">Create an Account</h3>
                        <p class="text-center">Enter your details to signup</p>
                        if (TempData["Success"] != null)
                        {
                            <p id="succesfull-signup-msg" class="text-center"><i class="fa fa-check-circle mr-2"></i>Your account has been successfully created. </p>
                        }

                        <!-- First Name -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name *</label>
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Enter Your First Name" })
                            <small>@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger error-message" })</small>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name *</label>
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Enter Your Last Name" })
                            <small>@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger error-message" })</small>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email *</label>
                            @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @placeholder = "Enter Your Email Address" })
                            <small>@Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger error-message" })</small>
                        </div>

                        <!-- Password -->
                        <div class="form-group">

                            <label for="exampleInputPassword1">Password</label>

                            <div class="password-container">
                                @Html.PasswordFor(x => x.Password, new { id = "new-password", @class = "form-control", @placeholder = "Enter Your Password" })
                                <small>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger error-message" })</small>

                                <div class="login-eye">
                                    <i class="fa fa-eye-slash toggle-password" toggle="#new-password"></i>
                                </div>
                            </div>

                        </div>

                        <!-- Confirm Password -->
                        <div class="form-group">

                            <label for="exampleInputPassword1">Confirm Password</label>

                            <div class="password-container">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { id = "confirm-password", @class = "form-control", @placeholder = "Enter Your Confirm Password" })
                                <small>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger error-message" })</small>

                                <div class="login-eye">
                                    <i class="fa fa-eye-slash toggle-password" toggle="#confirm-password"></i>
                                </div>
                            </div>

                        </div>


                        <button  type="submit" class="btn btn-general" id="sign-up-btn" href="#" title="Sign Up" role="button"><span>Sign Up</span></button>

                    }

                    <!-- Login Link -->
                    <p class="text-center">Already have an account? <a href="/account/login">Login</a></p>

                </div>

            </div>

        </div>

    </section>

    <!-- Jquery -->
    <script src="~/Scripts/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/js/script.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>